<h4 mat-dialog-title>Delete {{title}}</h4>
<mat-dialog-content>
	<p>Are you sure to delete <strong>"{{element}}"</strong>?</p>
</mat-dialog-content>
<mat-dialog-actions>
	<button class="mat-raised-button" (click)="onCancel()" mat-button>Cancel</button>
	<button class="mat-raised-button" color="warn" (click)="onDelete()" mat-button>Delete</button>
</mat-dialog-actions>