<mat-toolbar color="primary">
	<button
		*ngIf="userIsAuthenticated"
		type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSidenav()" color="warn">
		<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
	</button>
	<div><span>TM System</span></div> 
	<!-- TODO: Add logo using span tag -->
	<!-- This fills the remaining space of the current row -->
	<span class="spacer"></span>
	<mat-nav-list *ngIf="!userIsAuthenticated">
		<a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
	</mat-nav-list>
	<mat-nav-list *ngIf="!userIsAuthenticated">
		<a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
	</mat-nav-list>
	<mat-nav-list *ngIf="userIsAuthenticated">
		<a mat-button (click)="onLogout()" routerLinkActive="mat-accent">Logout</a>
	</mat-nav-list>
</mat-toolbar>
