
<mat-card>
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
		<mat-form-field>
			<input
				matInput
				name="email"
				ngModel
				type="email"
				placeholder="E-mail"
				required
				email
				#emailInput="ngModel">
				<mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				name="password"
				ngModel
				type="password"
				placeholder="Password"
				required
				#passwordInput="ngModel">
				<mat-error *ngIf="passwordInput.invalid">Please enter a correct password</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				name="name"
				ngModel
				type="text"
				placeholder="Name"
				required
				#nameInput="ngModel">
				<mat-error *ngIf="nameInput.invalid">Please enter your name</mat-error>
		</mat-form-field>
		<button
			mat-raised-button
			color="primary"
			type="submit">
			Sign Up
		</button>
	</form>
</mat-card>