<div class="container">
  <div class="top-row">
    <div>
      <h2>Customer list</h2>
    </div>
    <div>
      <mat-form-field floatLabel="never">
        <input type="text" #searchBox matInput placeholder="Search" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="add-icon">
      <mat-icon
        matTooltip="Add customer"
        matTooltipPosition="left"
        color="warn"
        (click)="addCustomerDialog()"
        >add_circle_outline</mat-icon
      >
    </div>
  </div>

  <div *ngIf="(customers$ | async) || {}; let customersData">
    <mat-paginator
      [length]="customersData?.totalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageOptions($event)"
    >
    </mat-paginator>
  </div>

  <div *ngIf="customers$ | async as customerData; else loadingOrError">
    <table
      mat-table
      [dataSource]="customerData.customers"
      class="mat-elevation-z8"
    >
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.prop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.name }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element[column.prop] }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            class="iconbutton"
            color="warn"
            (click)="addOrder(row)"
          >
            <a
              mat-icon-button
              class="iconbutton"
              color="primary"
              [routerLink]="['customer/', row._id, 'order']"
            >
              <mat-icon
                matTooltip="New order"
                matTooltipPosition="left"
                aria-label="New Order"
                >add_shopping_cart</mat-icon
              >
            </a>
          </button>
          <button
            mat-icon-button
            class="iconbutton"
            color="primary"
            (click)="editCustomerDialog(row)"
          >
            <mat-icon
              matTooltip="Edit customer"
              matTooltipPosition="left"
              aria-label="Edit"
              >edit</mat-icon
            >
          </button>
          <button
            mat-icon-button
            class="iconbutton"
            color="warn"
            (click)="deleteCustomerDialog(row)"
          >
            <mat-icon
              matTooltip="Delete customer"
              matTooltipPosition="left"
              aria-label="Delete"
              >delete</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <ng-template #loadingOrError>
    <ng-container *ngIf="error; else loading">
      <div class="error">
        {{ error }}
      </div>
    </ng-container>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </ng-template>
</div>
