<div class="container">
	<div class="top-row">
		<div>
			<h2>Product list</h2>
		</div>
		<div class="add-icon">
			<mat-icon
				matTooltip="Add product"
				matTooltipPosition="left"
				color="warn"
				(click)="addProductDialog()">
				add_circle_outline</mat-icon>
		</div>
	</div>
	<div *ngIf="(products$ | async) as product; else loading">
		<table mat-table [dataSource]="product" class="mat-elevation-z8">

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef> Name </th>
				<td mat-cell *matCellDef="let element"> {{element.name}} </td>
			</ng-container>

			<ng-container matColumnDef="price">
				<th mat-header-cell *matHeaderCellDef> Price </th>
				<td mat-cell *matCellDef="let element"> {{element.price}} </td>
			</ng-container>

			<ng-container matColumnDef="description">
				<th mat-header-cell *matHeaderCellDef> Description </th>
				<td mat-cell *matCellDef="let element"> {{element.description}} </td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>Actions </th>
				<td mat-cell *matCellDef="let row">
					<button mat-icon-button class="iconbutton" color="primary" (click)="editProductDialog(row)">
						<mat-icon aria-label="Edit">edit</mat-icon>
					</button>
					<button mat-icon-button class="iconbutton" color="warn" (click)="deleteProductDialog(row)">
						<mat-icon aria-label="Delete">delete</mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>

	<ng-template #loading>
		<mat-spinner></mat-spinner>
	</ng-template>
</div>


