<div class="container">
  <div class="top-row">
    <div>
      <h2>Order list</h2>
    </div>
    <div class="add-icon">
      <mat-icon
        matTooltip="Add order"
        matTooltipPosition="left"
        color="warn"
        (click)="addOrderDialog()"
      >
        add_circle_outline</mat-icon
      >
    </div>
  </div>

  <div *ngIf="orders$ | async as order; else loading">
    <table mat-table [dataSource]="order" class="mat-elevation-z8">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.prop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.name }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            column.prop === 'status'
              ? (element[column.prop] | titlecase)
              : column.prop === 'customer'
              ? element[column.prop].name
              : element[column.prop]
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Order date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.order_date | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="deliveryDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Delivery date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.delivery_date | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            class="iconbutton"
            color="primary"
            (click)="printOrder(row)"
          >
            <mat-icon
              matTooltip="Print order"
              matTooltipPosition="left"
              aria-label="Print"
              >print</mat-icon
            >
          </button>
          <button
            mat-icon-button
            class="iconbutton"
            color="primary"
            (click)="editOrder(row)"
          >
            <mat-icon
              matTooltip="Edit order"
              matTooltipPosition="left"
              aria-label="Edit"
              >edit</mat-icon
            >
          </button>
          <button
            mat-icon-button
            class="iconbutton"
            color="warn"
            (click)="deleteOrderDialog(row)"
          >
            <mat-icon
              matTooltip="Delete order"
              matTooltipPosition="left"
              aria-label="Delete"
              >delete</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
