@import url('../../app.component.css');

/* .row {
  display: flex;
  flex-direction: row;
} */

/* .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0 !important;
} */

table {
  width: 100%;
}

.add-order {
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-order button {
  float: right;
}

.cancel-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cancel-button button {
  float: right;
}

tr.mat-footer-row {
  font-weight: bold;
}

.total-price {
  font-size: 1.5rem;
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
}

.total-price div {
  padding: 10px;
}

.amount {
  font-size: 1rem;
}
