<div class="container-fluid mt-3">
  <div class="row" *ngIf="customer$ | async as customer; else loading">
    <div class="input-group mb-3 col-sm-4 col-md-4 col-lg-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          ><span class="material-icons">
            person
          </span></span
        >
      </div>
      <span class="form-control" aria-describedby="basic-addon1">
        {{ customer.name }}
      </span>
    </div>
    <div class="input-group mb-3 col-sm-4 col-md-4 col-lg-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2"
          ><span class="material-icons">
            call
          </span></span
        >
      </div>
      <span class="form-control" aria-describedby="basic-addon2">
        0{{ customer.contact }}
      </span>
    </div>
  </div>
  <div class="row" [formGroup]="orderDatesForm">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Order date</label>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker1" formControlName="orderDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Delivery date</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          [matDatepicker]="picker2"
          formControlName="deliveryDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Order Status</label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="orderStatus" required>
          <mat-option *ngFor="let status of orderStatus" [value]="status">
            {{ status | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-auto">
      <button class="btn btn-dark" (click)="addOrderItemDialog()">
        Add Product
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-auto w-100">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container
          *ngFor="let column of columns"
          [matColumnDef]="column.prop"
        >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column.name }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[column.prop] }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <!-- <button
              mat-icon-button
              class="iconbutton"
              color="primary"
              (click)="editOrderItemDialog(row)"
            >
              <mat-icon
                matTooltip="Edit product"
                matTooltipPosition="left"
                aria-label="Edit"
                >edit</mat-icon
              >
            </button> -->
            <button
              mat-icon-button
              class="iconbutton"
              color="warn"
              (click)="deleteItemDialog(row)"
            >
              <mat-icon
                matTooltip="Delete product"
                matTooltipPosition="left"
                aria-label="Delete"
                >delete</mat-icon
              >
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <td mat-footer-cell *matFooterCellDef colspan="5">
            <div class="total-price">
              <div class="font-weight-normal">Total</div>
              <div class="font-weight-normal">
                {{ totalPrice | currency: 'Rs ' }}
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="amountPaid">
          <td mat-footer-cell *matFooterCellDef colspan="5">
            <div class="float-right">
              <label
                for="paid"
                class="amount badge badge-success mr-2 mt-2 font-weight-normal"
                >Amount Paid</label
              >
              <input
                type="number"
                [(ngModel)]="amountPaid"
                id="paid"
                (ngModelChange)="onAmountPaid($event)"
              />
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="amountDue">
          <td mat-footer-cell *matFooterCellDef colspan="5">
            <div class="float-right">
              <label
                for="paid"
                class="amount badge badge-danger mr-2 mt-2 font-weight-normal"
                >Amount Due</label
              >
              <input [(ngModel)]="amountDue" type="number" readonly id="paid" />
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr
          mat-footer-row
          *matFooterRowDef="tableFooterColumns"
          colspan="2"
        ></tr>

        <tr mat-footer-row *matFooterRowDef="['amountPaid']" colspan="2"></tr>
        <tr mat-footer-row *matFooterRowDef="['amountDue']" colspan="2"></tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mt-3 float-right" *ngIf="dataSource.length">
        <button (click)="saveOrder(amountPaid)" class="btn btn-outline-success">
          Save
        </button>
        <button class="btn btn-outline-danger ml-3" [routerLink]="['']">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
