<div class="container">
  <h2 mat-dialog-title>{{ title }}</h2>
  <div *ngIf="products$ | async as products; else loading">
    <div [formGroup]="orderForm">
      <div class="form-row">
        <div class="form-group col-auto">
          <label for="inputEmail4">Select Product</label>
          <mat-form-field appearance="outline">
            <mat-select
              placeholder="Pick item..."
              formControlName="selectedProduct"
              (selectionChange)="onSelectProduct($event.value)"
              required
            >
              <mat-option *ngFor="let product of products" [value]="product">
                {{ product.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="unitPrice">Unit Price</label>
          <input
            type="number"
            placeholder="Unit price"
            formControlName="price"
            class="form-control"
            id="unitPrice"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="Quantity">Quantity</label>
          <input
            formControlName="quantity"
            type="number"
            class="form-control"
            id="Quantity"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="subTotal">Sub Total</label>
          <input
            type="number"
            formControlName="subTotal"
            class="form-control"
            id="subTotal"
          />
        </div>
      </div>

      <!-- <div class="list-items">
        <mat-form-field>
          <mat-select
            placeholder="Pick item..."
            formControlName="selectedProduct"
            (selectionChange)="onSelectProduct($event.value)"
            required
          >
            <mat-option *ngFor="let product of products" [value]="product">
              {{ product.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    </div>

    <div>
      <button
        [disabled]="orderForm.invalid"
        class="btn btn-primary"
        (click)="onSave()"
      >
        Save
      </button>
      <button class="btn btn-danger float-right" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
