<div class="container">
  <div class="top-row">
    <div>
      <h2>Employees list</h2>
    </div>
    <div class="add-icon">
      <mat-icon
        matTooltip="Add employee"
        matTooltipPosition="left"
        color="warn"
        (click)="addEmployeeDialog()"
      >
        add_circle_outline</mat-icon
      >
    </div>
  </div>
  <div *ngIf="employees$ | async as employee; else loading">
    <table mat-table [dataSource]="employee" class="mat-elevation-z8">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.prop">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.name }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element[column.prop] }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            class="iconbutton"
            color="primary"
            (click)="editEmployeeDialog(row)"
          >
            <mat-icon
              matTooltip="Edit employee"
              matTooltipPosition="left"
              aria-label="Edit"
              >edit</mat-icon
            >
          </button>
          <button
            mat-icon-button
            class="iconbutton"
            color="warn"
            (click)="deleteEmployeeDialog(row)"
          >
            <mat-icon
              matTooltip="Delete employee"
              matTooltipPosition="left"
              aria-label="Delete"
              >delete</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
