/* General styles */

/* * {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
} */

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* .container {
  margin: 10px;
  display: flex;
  flex-direction: column;
} */

.top-row {
  display: flex;
  justify-content: space-between;
}

.add-icon {
  cursor: pointer;
  margin-right: 20px;
  transform: scale(2);
  display: flex;
  align-items: center;
}

.mat-column-actions {
  text-align: right;
}

/* .mat-row:nth-child(even){
	background-color: #f5f5f5
} */

.mat-row:hover {
  background-color: #f5f5f5;
}

mat-spinner {
  margin: auto;
}

/* ____________________ */

.flex {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin: 0 10px;
}

/* Other styles */

mat-form-field {
  margin: 5px;
}

/* mat-form-field:nth-child(even) {
	margin-left: 5px;
} */

/* button success */
/* .mat-button.mat-button.mat-primary {
	background-color:#28a745;
}

.mat-button, .mat-raised-button:hover{
	background-color:#218838;
} */
