<div class="container">
  <h2 mat-dialog-title>{{ title }}</h2>

  <mat-dialog-content [formGroup]="productForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Product name"
        formControlName="name"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Product price"
        formControlName="price"
        type="number"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Product description"
        formControlName="description"
      />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="onCancel()" mat-button>
      Cancel
    </button>
    <button
      [disabled]="!productForm.valid"
      class="mat-raised-button"
      color="warn"
      (click)="onSave()"
      mat-button
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
