
<mat-card>
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
		<mat-form-field>
			<input
				matInput
				name="email"
				ngModel
				type="email"
				placeholder="E-mail"
				#emailInput="ngModel"
				required email>
			<mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				name="password"
				ngModel
				type="password"
				placeholder="Password"
				#passwordInput="ngModel"
				required>
			<mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
		</mat-form-field>
		<button
			mat-raised-button
			color="primary"
			type="submit">
			Login
		</button>
	</form>
</mat-card>