<div class="container">
  <div class="top-row">
    <div>
      <h2>User settings</h2>
    </div>
  </div>
  <mat-card *ngIf="user$ | async as user; else loading">
    <mat-card-content>
      <form class="user-form" [formGroup]="userForm">
        <mat-form-field>
          <input
            matInput
            placeholder="Company name"
            formControlName="name"
            type="text"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Contact"
            formControlName="contact"
            type="number"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Address"
            formControlName="address"
            type="text"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="danger" (click)="onSave()">
          Save
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
