<div class="container">
  <h2 mat-dialog-title>{{ title }}</h2>

  <mat-dialog-content [formGroup]="employeeForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Employee name"
        formControlName="name"
        type="text"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Contact"
        formControlName="contact"
        type="number"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Address"
        formControlName="address"
        required
      />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="onCancel()" mat-button>
      Cancel
    </button>
    <button
      [disabled]="!employeeForm.valid"
      class="mat-raised-button"
      color="primary"
      (click)="onSave()"
      mat-button
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
