<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="opened" mode="side" role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="">Customer list</a>
      <a mat-list-item routerLink="/products">Product list</a>
      <a mat-list-item routerLink="/orders">Orders</a>
      <a mat-list-item routerLink="/employees">Employees</a>
      <a mat-list-item routerLink="/user-settings">User settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
