<div class="container">
  <h2 mat-dialog-title>{{ title }}</h2>

  <mat-dialog-content [formGroup]="customerForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Customer name"
        formControlName="name"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Customer number"
        formControlName="customer_number"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Contact"
        formControlName="contact"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" formControlName="address" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="onCancel()" mat-button>
      Cancel
    </button>
    <button
      [disabled]="!customerForm.valid"
      class="mat-raised-button"
      color="primary"
      (click)="onSave()"
      mat-button
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
