<mat-card>
	<h2>Measurements Form</h2>
	<form [formGroup]="measurementForm">
		<div class="">
			<mat-form-field floatLabel="never">
				<input matInput type="text" formControlName="measurementName" placeholder="Measurement Name">
			</mat-form-field>
			<mat-form-field floatLabel="never">
				<input matInput type="text" formControlName="qameezLength" placeholder="Qameez Length">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="shoulder" placeholder="Shoulder">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="sleeveLength" placeholder="Sleeve Length">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="collarSize" placeholder="Collar Size">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="chest" placeholder="Chest">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="waist" placeholder="Waist">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="ghera" placeholder="Ghera">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="shalwarLength" placeholder="Shalwar Length">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="paincha" placeholder="Paincha">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="moda" placeholder="Moda">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="cuffLength" placeholder="Cuff Length">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="stripLength" placeholder="Strip Length">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="banStrip" placeholder="Ban Strip">
			</mat-form-field>
			<!-- <mat-form-field> -->
				<!-- <input matInput type="text" formControlName="frontPocket" placeholder="Front Pocket"> -->
				<mat-checkbox formControlName="frontPocket">Front Pocket</mat-checkbox>
			<!-- </mat-form-field> -->
			<mat-form-field>
				<input matInput type="text" formControlName="sidePocket" placeholder="Side Pocket 1-2">
			</mat-form-field>
			<!-- <mat-form-field>
				<input matInput type="text" formControlName="shalwarPocket" placeholder="Shalwar Pocket">
			</mat-form-field> -->
			<mat-checkbox formControlName="shalwarPocket">Shalwar Pocket</mat-checkbox>
			<mat-form-field>
				<input matInput type="text" formControlName="gheraStyle" placeholder="Ghera Style (round/straight)">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="cuffStyle" placeholder="Cuff Style (square/folding/no preference)">
			</mat-form-field>
		</div>

		<mat-form-field style="width: 50%">
			<textarea rows="5" matInput type="text" formControlName="otherDetails" placeholder="Other Details"></textarea>
		</mat-form-field>
		<div class="flex">
				<button
					(click)="addMeasurements(measurementForm)"
					mat-raised-button
					color="primary"
					type="submit">
					Add measurements
				</button>
				<span class="spacer"></span>
				<a routerLink="/edit-customer" [routerLink]="['/edit-customer', customerId]" mat-raised-button>Go back</a>
				<span class="spacer"></span>
			</div>
	</form>

</mat-card>
